{% extends 'base.html' %}


{% block body %}
  <br>
  <br>
  <br>
<div class="container">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>Medicos</h2></div>
      
        <!-- Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Especialidad</th>
                  <th>Telefono</th>
                  <th>Correo</th>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <td>John</td>
                  <td>hoyos</td>
                  <td>Cirujano</td>
                  <td>3154892542</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Alex</td>
                    <td>Alvarez</td>
                    <td>General</td>
                    <td>3125489635</td>
                    <td>alex@example.com</td>
                  </tr>
              </tbody>
        </table>
        </table>
      </div>
    </div>
{% endblock %}