{% extends 'base.html' %}
{% load static %}
   
<script src="{% static 'vendor/js/home.js' %}"></script>
{% block body %}
  <!--menu de navegacion-->


    <br>
    <br>
    <br>
<div class="container">
  <h2>Pacientes</h2>
  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula</th>
        <th>Fecha Nacimiento</th>
        <th>Direccion</th>
        <th>Estracto</th>
        <th>Telefono</th>
        <th>Correo</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>John</td>
        <td>hoyos</td>
        <td>1096524789</td>
        <td>17/05/1995</td>
        <td>Calle 45 # 25-34</td>
        <td>2</td>
        <td>3154892542</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>hoyos</td>
        <td>1096524789</td>
        <td>17/05/1995</td>
        <td>Calle 45 # 25-34</td>
        <td>2</td>
        <td>3154892542</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>hoyos</td>
        <td>1096524789</td>
        <td>17/05/1995</td>
        <td>Calle 45 # 25-34</td>
        <td>2</td>
        <td>3154892542</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>John</td>
        <td>hoyos</td>
        <td>1096524789</td>
        <td>17/05/1995</td>
        <td>Calle 45 # 25-34</td>
        <td>2</td>
        <td>3154892542</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}